@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none {
    @apply hidden;
}

@media screen(sm) {
    .text-body {
        font-size: 30px;
    }
}

@media screen(xl) {
    .text-body {
        font-size: 50px;
    }
}

@layer base {
    h1 {
        @apply text-2xl
    }
}

@layer utilities {
    .text-body {
        font-size: 30px;
    }
}